# default
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

# source
source/_posts/*
!source/_posts/hello-world.md
!source/_posts/siting_log.md
source/_drafts
source/images/posts
source/high

# scaffolds
scaffolds/*
!scaffolds/draft.md
!scaffolds/page.md
!scaffolds/post.md